

<!-- Titulo -->

<div class="separador"
	 (click)="openSet( $event )">
	<div class="set-m">
		<h2>
			{{title}}
		</h2>	
	</div>
</div>
	

<!-- Encabezado -->

<div id="encabezado">


	<!-- Foto -->

	<div id="foto">
		<img src="assets/img/foto.jpg" />
	</div>

	<!-- Descripcion y redes sociales -->

	<div class="descripcion">
		
		<span>
			descripcion personal
		</span>

		<p>Desarrollador Web</p>
		<!-- Redes Sociales -->
		<div id="iconos">

			<a	target="_blank"
				href="https://www.facebook.com/dberlad/"
				title="Facebook">
				<img src="assets/img/logos/facebook.svg" />
			</a>

			<a	target="_blank"
				href="https://www.instagram.com/berlad66/?hl=es-la"
				title="Instagram">
				<img src="assets/img/logos/instagram.svg" />
			</a>

			<a	target="_blank"
				href="https://github.com/bego46"
				title="Github">
				<img src="assets/img/logos/github.svg" />
			</a>

			<a	target="_blank"
				email="berlad46@gmail.com"
				title="Gmail">
				<img src="assets/img/logos/gmail.svg" />
			</a>

			<a	target="_blank"
				href="https://www.linkedin.com/in/berladGonzalez"
				title="LinkedIn">
				<img src="assets/img/logos/linkedin.svg" />
			</a>

		</div>

	</div>
	
</div>


<!-- Contenido -->

	<!-- Sobre Mi -->

	<div class="caja">

		<!-- separacion -->
		<div class="separador">
			<div class="set-m">
				<a	[style.color]="separador._2 != 0 ? 'black' : 'whith'"
					[routerLink]="['/sobre-mi']"
					[routerLinkActive]="['actived']">
					<h3>
						{{ separador._2 }}
					</h3>
				</a>	
			</div>
		</div>
		
	</div>

	<!-- Estudios -->

	<div class="caja">
		<!-- separacion -->
		<div class="separador">
			<div class="set-m">
				<h3	[style.color]="separador._3 != 0 ? 'black' : 'whith'">
					{{ separador._3 }}
				</h3>	
			</div>
		</div>

		<!-- 
		<div class="porcentage">
			<img src="assets/img/icon/logo-html5.svg"/>
			<img src="assets/img/icon/logo-css3.svg"/>
			<img src="assets/img/icon/logo-javascript.svg"/>
			<img src="assets/img/icon/logo-nodejs.svg"/>
		</div>
		 -->
		<div class="porcentage">
			<div class="html"></div>
			<div class="css"></div>
			<div class="javascript"></div>
			<div class="angular"></div>
			<div class="ionic"></div>
			<div class="node"></div>
		</div>
			
		<!-- 	
			<div *ngFor="let c of cursos">

				<h4>
					<a	[href]="c.link"
						class="rutas"
						target="_blank"
						[title]="c.curso">
							- {{ c.curso }}. 
					</a>
				</h4>
				<p>
					Estudiado en la institucion/plataforma de 
					{{ c.plataforma }}.
					<br />En el año {{ c.year }}.
				</p>

				<br />

			</div> -->

	</div>

	<!-- Acerca de  -->

	<div class="caja">
		<!-- separacion -->
		<div class="separador">
			<div class="set-m">
				<h3	[style.color]="separador._4 != 0 ? 'black' : 'whith'">
					{{ separador._4 }}
				</h3>	
				
			</div>
		</div>

		<!-- 
		<div>

			<p>Puede comunicarce conmigo de las siguientes formas :</p>
			<ul >

				<li *ngFor="let i of contenido">
					- {{ i.titulo }} : 
					<a	[href]="i.href"
						[title]="i.titulo"
						target="_blank"
						class="rutas">
						{{ i.nombre }}
					</a>
				</li>
			</ul>
		</div>
		-->

		<div>
			<span>Elementos usados</span>
<!-- 			
			<div>Iconos diseñados por <a href="https://www.flaticon.es/autores/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a></span>
			<div>Iconos diseñados por <a href="https://www.flaticon.es/autores/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a></div>
 -->
		</div>
		
	</div>
