

<!-- Titulo -->

<div class="separador"
	 (click)="openSet( $event )">
	<div class="set-m">
		<h2>
			{{title}}
		</h2>	
	</div>
</div>
	

<!-- Encabezado -->

<div id="encabezado">


	<!-- Foto -->

	<div id="foto">
		<img src="assets/img/foto.jpg" />
	</div>

	<!-- Descripcion y redes sociales -->

	<div class="descripcion">

		<!-- Redes Sociales -->
		<div id="iconos">

			<a	target="_blank"
				href="https://www.facebook.com/dberlad/"
				title="Facebook">
				<img src="assets/img/logos/facebook.svg" />
			</a>

			<a	target="_blank"
				href="https://www.instagram.com/berlad66/?hl=es-la"
				title="Instagram">
				<img src="assets/img/logos/instagram.svg" />
			</a>

			<a	target="_blank"
				href="https://github.com/bego46"
				title="Github">
				<img src="assets/img/logos/github.svg" />
			</a>

			<a	target="_blank"
				href="https://www.linkedin.com/in/berladGonzalez"
				title="LinkedIn">
				<img src="assets/img/logos/linkedin.svg" />
			</a>

		</div>
	
		<p>
			Me considero una persona xtremadamente motivada y preparada para desarrollar constantemente mis habilidades y crecer profesionalmente. Confío en mi capacidad de adaptación en el laboral.
		</p>

		<h5>Desarrollador Web</h5>

	</div>
	
</div>


<!-- Contenido -->

	<!-- Sobre Mi -->

	<div class="caja">

		<!-- separacion -->
		<div class="separador">
			<div class="set-m">
				<a	[routerLink]="['/sobre-mi']"
					[routerLinkActive]="['actived']">
					<h2>
						{{ separador._2 }}
					</h2>
				</a>	
			</div>
		</div>
		
	</div>

	<!-- Estudios -->

	<div class="caja">

		<!-- separacion -->
		<div class="separador">
			<div class="set-m">
				<a	[routerLink]="['/estudios']"
					[routerLinkActive]="['actived']">
					<h2>
						{{ separador._3 }}
					</h2>	
				</a>
			</div>
		</div>

	</div>

	<!-- Acerca de  -->

	<div class="caja">
		
		<!-- separacion -->
		<div class="separador">
			<div class="set-m">
				<a	[routerLink]="['/acerca-de']"
					[routerLinkActive]="['actived']">
					<h2>
						{{ separador._4 }}
					</h2>	
				</a>
			</div>
		</div>

	</div>
