

.logo {
  box-shadow: 1px 1px 10px rgb(134, 131, 131);
  padding: 1rem;
  transition: all 500ms;
  margin: 1rem;
}


.logo:hover {
  box-shadow: 1px 1px 5px rgb(25, 109, 109);
  border-radius: 5%;
  margin: 1.2rem;
}

.logo h4 {
  text-align: center;
  text-shadow: 1px 1px 30px rgb(255, 0, 0);
  text-transform: uppercase;
}

.logo ul {
  display: flex;
  flex-wrap: wrap;
}

.logo ul li {
  width: 70%;
}

.logo img {
  width: 5rem;
  margin-bottom: auto;
}

.logo img,
.logo ul li {
  margin-right: 0.5rem;
}

.logo ul li {
  margin-top: 1rem;
}

.logo a {
  color: black;
}



.conten{
  margin-top: 1.8rem;
}

.conten {
  background: white;
}
  
  
  
 // Porcentage forma resumida

 @function progress($percent){
    $deg: $percent/100 * 180;
    @return #{$deg}deg;
  }
  
  @mixin circular-progress($percent,$name,$color,$bgcolor) {
    $progress: progress($percent);

    &,
    &:before,
    &:after{
      width: 7rem;
      height: 7rem;
      border-radius: 50%;
    }

    margin: auto;
    position: relative;
    transform: rotate($progress);
    background: linear-gradient(
      0deg,
      $color 50%,
      rgba($color,.2) 50%
    );

    &:before,
    &:after{
      position: absolute;
      top: 0;
      left: 0;
      text-align: center;
    }
    &:before{
      content: "#{$percent}%";
      background: $bgcolor content-box;
      transform: rotate(-#{$progress});
      padding: .5em;
      box-sizing: border-box;
      font-size: 1.5rem;
      line-height: 4rem;
    }
    &:after{
      content: "";
      transform: scale(1.1) rotate(-#{$progress});
      line-height: 14rem;
      background: linear-gradient(
        transparent 50%,
        $bgcolor 50%
      );
    }
  }
  
  .porcentage {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em;
    margin-block-end: 2rem;
  }

  
  
  .html {

    @include circular-progress(
      25,
      HTML5,
      rgb(255, 102, 0),
      white
    )
  }
  
  .css {
    @include circular-progress(
      20,
      CSS,
      lighten(rgb(8, 8, 180),20),
      white
    )
  }
  
  .javascript {
    @include circular-progress(
      38,
      JS,
      yellow,
      white
    )
  }
  
  .angular {
    @include circular-progress(
      42,
      Angular,
      lighten(rgb(138, 6, 6),20),
      white
    )
  }
  
  .ionic {
    @include circular-progress(
      39,
      Ionic,
      lighten(blue,20),
      white
    )
  }

  .node {
    @include circular-progress(
      15,
      Node,
      lighten(rgb(29, 59, 33),20),
      white
    )
  }

  .seguridad {
    @include circular-progress(
      5,
      "S.I.",
      lighten(rgb(8, 8, 139),20),
      white
    )
  }

  .github {
    @include circular-progress(
      19,
      Node,
      lighten(rgb(43, 43, 44),20),
      white
    )
  }

  .programacion {
    @include circular-progress(
      22,
      "< / >",
      lighten(rgb(20, 20, 20),20),
      white
    )
  }

  .ingles {
    @include circular-progress(
      20,
      Ingles,
      lighten(rgb(16, 128, 128),20),
      white
    )
  }

  .excel {
    @include circular-progress(
      36,
      Excel,
      lighten(rgb(5, 97, 5),20),
      white
    )
  }

  .photoshop {
    @include circular-progress(
      18,
      Photoshop,
      lighten(rgb(8, 8, 150),20),
      white
    )
  }
