

<!-- Titulo -->

<div class="separador">
	<div class="set-m">
		<a	[routerLink]="['/inicio']"
			[routerLinkActive]="['actived']">
			<h2>
				{{title}}
			</h2>
		</a>
	</div>
</div>
	

<!-- Encabezado -->

<div id="encabezado">


	<!-- Foto -->

	<div id="foto">
		<img src="assets/img/foto.jpg" />
	</div>

	<!-- Descripcion y redes sociales -->

	<div class="descripcion">

		<!-- Redes Sociales -->
		<div id="iconos">

			<a	target="_blank"
				href="https://www.facebook.com/dberlad/"
				title="Facebook">
				<img src="assets/img/logos/facebook.svg" />
			</a>

			<a	target="_blank"
				href="https://www.instagram.com/berlad66/?hl=es-la"
				title="Instagram">
				<img src="assets/img/logos/instagram.svg" />
			</a>

			<a	target="_blank"
				href="https://github.com/bego46"
				title="Github">
				<img src="assets/img/logos/github.svg" />
			</a>

			<a	target="_blank"
				href="https://www.linkedin.com/in/berladGonzalez"
				title="LinkedIn">
				<img src="assets/img/logos/linkedin.svg" />
			</a>

		</div>
	
		<p>
			Me considero una persona xtremadamente motivada y preparada para desarrollar constantemente mis habilidades y crecer profesionalmente. Confío en mi capacidad de adaptación en el laboral.
		</p>

		<h5>Desarrollador Web</h5>

	</div>
	
</div>

<!-- Contenido -->

	<!-- Sobre Mi -->

	<div class="caja">

		<!-- separacion -->
		<div class="separador">
			<div class="set-m">
				<a	[routerLink]="['/sobre-mi']"
					[routerLinkActive]="['actived']">
					<h3>
						{{ separador._2 }}
					</h3>
				</a>	
			</div>
		</div>
		
	</div>

	<!-- Estudios -->

	<div class="caja">
		<!-- separacion -->
		<div class="separador">
			<div class="set-m">
				<a	[routerLink]="['/inicio']"
					[routerLinkActive]="['actived']">
					<h3>
						{{ separador._3 }}
					</h3>	
				</a>
			</div>
		</div>

		<div class="conten">

			<ul class="logo" *ngFor="let i of cursos">

				<li>

					<h4> {{ i.title }} </h4>
					<ul>
						<img [src]="i.logo">
						<li>
							<p>
								{{ i.text }} 
								<a	target="_blank"
									[href]="i.link"
									[title]="i.curso">
									{{ i.textLink }}
								</a>
							</p>
						</li>
						<div [class]="i.p"></div>
						
						<!-- 
							title: "node js",
							logo: "assets/img/logos/nodejs.svg",
							text: "Estudidando actualmente en la plataforma digital",
							curso: "Node: De cero a experto",
							link: "https://www.udemy.com/course/node-de-cero-a-experto/",
							textLink: "Udemy",
							p: "node"
					 	-->
					</ul>

				</li>

			</ul>
			
		</div>
		
	</div>

	<!-- Acerca de  -->

	<div class="caja">

		<!-- separacion -->
		<div class="separador">
			<div class="set-m">
				<a	[routerLink]="['/acerca-de']"
					[routerLinkActive]="['actived']">
					<h3>
						{{ separador._4 }}
					</h3>	
				</a>
			</div>
		</div>

	</div>
