
/* Importando Fuentes*/
@font-face{
	font-family: "ruritania-1";
	src: url('estilo-de-letras/ruritania/Ruritania.ttf');
}

@font-face{
	font-family: "ruritania-2";
	src: url('estilo-de-letras/ruritania/Ruritania-Outline.ttf');
}
@font-face{
	font-family: "yanone";
	src: url("estilo-de-letras/yanone.ttf");
}

@font-face{
	font-family: "titilium";
	src: url("estilo-de-letras/titilium.ttf");
}

@font-face{
	font-family: "roman";
	src: url("estilo-de-letras/frutiger-55-roman.otf");
}


/* Global*/
body{
	background: url("../img/img-2.jpg");
	background-attachment: fixed;
}

.rutas {
	color: black;
	text-decoration: none;
}

/* Contenido y Logo */

#contenido{
	border-top: 10px;
	opacity: 90%;
    width: 60%;
    margin: 0px auto;
    margin-top: 30px;
    padding: 60px;
    background: white;
    box-shadow: 9px 12px 69px grey;
    height: auto;
	font-size: 25px;
	font-family: 'Times New Roman', Times, serif;
	text-align: justify;
}



/* Inicio */

	/* Cajas */

	
.descripcion {
    background: gray;
    box-shadow: 1px 1px 2rem rgb(43, 8, 8);
    width: 100%;
    height: auto;
    padding: 1rem;
    transition: all 900ms;
    font-size: 0px;
	color: gray;
} 

.descripcion:hover {
    background: white;
    box-shadow: 1px 1px 2rem rgb(2, 119, 103);
    border-radius: 10%;
    width: inherit;
    height: auto;
    padding: 1rem;
    font-size: 20px;
    color: black;
    text-align: justify;
} 

.descripcion p{
    padding-right: 2rem;
    padding-left: 2rem;
}

#iconos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#iconos a{
    margin-left: 4rem;
    margin-right: 4rem;
}

#iconos img{
    border-radius: 20%;
    padding: 4px;
    width: 3rem;
    height: 4rem;
    transition: all 350ms;
}

#iconos img:hover{
    cursor: pointer;
    width: 4rem;
    box-shadow: 1px 1px 2rem black;
    background: gray;
    transition: all 350ms;
}

		/* Separacion */

		
		
		.separador,
		#encabezado,
		.descripcion {
			margin-top: 1em
		}
		
		.set-m{
			background: gray;
    		box-shadow: 1px 1px 0.7rem rgb(43, 8, 8);
			width: 100%;
			height: auto;
			text-align: center;
			font-size: 30px;
			transition: all 350ms;
		}

		.set-m:hover{
			background: radial-gradient(
				black 20%,
				gray 70%
			);
			box-shadow: 1px 1px 2rem rgb(2, 119, 103);
			color: rgb(94, 253, 253);
			width: 100%;
			text-align: center;
			cursor: pointer;
			font-size: 35px;
			border-radius: 15%;
		}

		.set-m a{
			text-decoration: none;
			color: black;
		}

		.set-m a:hover{
			text-decoration: none;
			color: rgb(94, 253, 253);;
		}

	
		
		/* Caja de encabezado */

		#encabezado {
			width: 100%;
			height: auto;
			display: flex;
			flex-wrap: wrap;
		}

			/* Foto */

						
			#foto {
				margin-right: 1em;
				width: 100%;
				height: 34rem;
				display: flex;
				flex-wrap: wrap;
			}
			
			#foto img{
				width: 25rem;
				height: 25rem;
				border-radius: 50%;
				box-shadow: 1px 1px 4rem rgb(0, 0, 0);
				margin-left: 20%;
				margin: auto;
				transition: all 500ms;
			}

			#foto img:hover{
				width: 30rem;
				height: 30rem;
				border-radius: 50%;
				box-shadow: 1px 1px 6rem rgb(2, 119, 103);
				margin-left: 20%;
				margin: auto;
				cursor: none;
				transition: all 500ms;
			}

			
			.conten{
				margin-top: 1.8rem;
			}
			
			.conten {
				background: radial-gradient(
					rgb(200, 219, 219) 30%,
					white 70%
				);
			}
			

		



/* Pie de pagina*/

.pie_pagina {
	opacity: 70%;
	height: 47px;
    background: white;
    margin: 0px auto;
    width: 80%;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
    line-height: 47px;
}

.pie_pagina p{
	font-size: 18px;
}

.pie_pagina .subir{
	float: right;
	width: 45px; 
}

.pie_pagina .subir img{
	float: inherit;
	width: inherit; 
}

*{
	margin: 0px;
	padding: 0px;
	list-style: none;
}


